<!DOCTYPE html>
<html>
	<head>
		<title>Low Poly Mesh</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
		<style type="text/css">
			body {
				padding-top: 50px;
				padding-bottom: 100px;
			}
			img {
				max-width: 100%;
			}
		</style>
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
			    <div class="navbar-header">
			        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			            <span class="sr-only">Toggle navigation</span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			        </button>
			        <a class="navbar-brand" href="/">Low Poly</a>
			    </div>

			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			        <ul class="nav navbar-nav">
			            <li><a href="https://github.com/PiJoules/lowpoly">Source</a></li>
			            <li><a href="https://github.com/PiJoules">Pi Joules</a></li>
			            <li><a href="http://3341b.com/">3341b</a></li>
			        </ul>
			    </div>
			</div>
		</nav>
		<div class="container">
			<h1>Low Poly Mesh Converter</h1>
			<blockquote>
				<p>Create low poly meshes of images. Just provide either the URL to the image or upload an image to polygonize. Note that larger, hi-res images will take longer to process.</p>
			</blockquote>

			<p>
				<form class="form-inline" enctype="multipart/form-data" method="POST" action="/">
				  	<div class="form-group">
				    	<input type="url" class="form-control" name="url" placeholder="Image URL" />
				  	</div>
				  	<div class="form-group">or</div>
				  	<div class="form-group">
				    	<input type="file" name="file" />
				  	</div>
				  	<button type="submit" class="btn btn-default">Submit</button>
				</form>
			</p>

			<div class="row">
				<div class="col-xs-12">
					<img id="lowpoly" src="{% if content %}data:image/png;base64,{{ content }}{% endif %}"/>
				</div>
			</div>
		</div>

		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</body>
</html>